@import 'multiselect';
@import 'variables';
@import 'tooltip';
@import 'conf-modal.scss';
/* Font styles */
@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Poppins'),
    url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Poppins'),
    url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Poppins'),
    url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Poppins'),
    url('/fonts/Poppins/Poppins-Semibold.ttf') format('truetype');
}
.highlight-icon {
  opacity: 1;
  &:hover {
    opacity: 0.8;
  }
}
body {
  margin: 0;
  background-color: $background-color;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

//JOB OFFER COLUMNS
.columns-job-offer {
  display: flex;
  width: 60vw;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  :first-child {
    justify-self: flex-start;
    flex: 1;
  }
  .small-columns-job-offer {
    flex: 0.5;
  }
}

//DETAIL OFFER MODAL
.title-modal-offer {
  color: $font-dark;
}

.value-modal-offer {
  color: $font-gray;
}

.columns-modal-offer-detail {
  display: flex;
  width: 30vw;
  justify-content: space-around;
  align-items: stretch;
  list-style-type: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-inline-start: 0rem;
  max-height: 30px;
  margin-block-start: 0px;
  :first-child {
    justify-self: flex-start;
    flex: 0rem;
  }
  .small-columns-modal-offer-detail {
    flex: 0rem;
  }
}

.fields-modal-offer {
  margin-top: 0rem;
  padding: 0px 50px;
  margin-left: 1rem;
  margin-block-end: 0rem;
}

.list-modal-offer {
  list-style: none;
  padding-inline-start: 1rem;
}

.footer-offer-detail {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.footer-offer-detail-applications {
  width: 15rem;
}
