@import 'variables';
// MULTISELECT
.multiselect {
  position: relative;
  margin: inherit;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  border: $font-light 1px solid;
  border-radius: 5px;
  min-height: 3.5rem;
  background-color: $lighter-gray;
  border-color: transparent;
  .multiselect-caret {
    transform: rotate(0deg);
    transition: transform 0.3s;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");
    margin: 0 0.875rem 0 0;
    position: relative;
    z-index: 10;
    opacity: 0.4;
    flex-shrink: 0;
    flex-grow: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 0.625rem;
    height: 1.125rem;
  }
  .multiselect-caret.is-open {
    transform: rotate(180deg);
  }

  .multiselect-multiple-label,
  .multiselect-placeholder,
  .multiselect-single-label {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: transparent;
    line-height: 1.375;
    padding-left: 0.875rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  .multiselect-clear {
    padding: 0 0.875rem 0 0;
    position: relative;
    z-index: 10;
    opacity: 0.4;
    transition: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    border-radius: 50px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    .multiselect-clear-icon {
      background-position: 50%;
      background-repeat: no-repeat;
      width: 0.625rem;
      height: 1.125rem;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 320 512' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'/%3E%3C/svg%3E");

      display: inline-block;
    }
  }

  .multiselect-dropdown {
    position: absolute;
    left: calc(1px * -1);
    right: calc(1px * -1);
    bottom: 0;
    transform: translateY(100%);
    border: 1px solid $font-light;
    border-radius: 5px;
    margin-top: calc(1px * -1);
    max-height: 10rem;
    overflow-y: scroll;
    z-index: 100;
    background: var(--ms-dropdown-bg, #fff);
    display: flex;
    flex-direction: column;
    border-radius: 0 0 var(4px, 4px) var(4px, 4p);
    .multiselect-options {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      .multiselect-option {
        display: flex;
        box-sizing: border-box;
        text-decoration: none;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        cursor: pointer;
        font-size: $normal-font;
        line-height: 1.375;
        padding: 0.5rem 0.75rem;
      }
      .multiselect-option.is-pointed {
        background: #e7e7e7;
        color: $font-dark;
      }
      .multiselect-option.is-selected {
        background: $highlit-blue;
        color: $white;
        font-weight: bolder;
      }
    }
  }
}

input[type='date']::-webkit-calendar-picker-indicator {
  filter: $filter-gray;
}
